extends base

append css
    // Datatable
    link(rel="stylesheet" href="/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css")

    //lien avec le css
    link(rel="stylesheet" href="/static/scss/profil.css")

append jslib
    script(src="/vendor/datatables.net/js/jquery.dataTables.min.js")
    script(src="/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js")

block content
    //TOUT CE QUI CONCERNE LA MISSION
    include parts/supprMission
    
    //PAGE MISSION : MISSION (en dessous de résultat)
    header(class="row ") 
        div(class="col justify-content-end") 
            h1(class="text-white")= mission.titre

    section(class="row")
        aside(class="col-3")
            div(class="card mb-3")
                div(class="card-header") 
                    div(class="row")
                        div(class="col")
                            p(class="mb-0") Informations
                            
                        div(class="card-toolbar col-auto")
                            div(class="btn-group")
                                button(type="button" class="btn btn-primary btn-sm right" data-toggle="modal" data-target="#")
                                    i(class="fas fa-pen")
                                button(type="button" class="btn btn-danger btn-sm right" data-toggle="modal" data-id=""+ mission.id +"" data-target="#supprMission")
                                    i(class="fas fa-eraser")


                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        span= `Lieu : ` + mission.lieu

                    li(class="list-group-item")
                        span Créneau : 
                    
                        ul
                            each creneau in creneaux
                                li= creneau.debut_txt
                        //ici faire en sorte que l'on recupere tout les créneau de cette MISSION
                        //on affiche seulement les 10 plus d'actualité 
                    
                    li(class="list-group-item")
                        span= "Temps estimé de la mission : " + creneaux[0].tempsMission + " minutes"
                    
                        
                    if(mission.nbPersAtteindre != 0)
                        li(class="list-group-item")
                            span= "Nombre de personnes necessaire : " + mission.nbPersAtteindre


        article(class="col")
            div(class="card")
                div(class="card-header")
                    ul(class="nav nav-tabs card-header-tabs" role="tablist")
                        li(class="nav-item")
                            a(class="nav-link active" data-toggle="tab" href="#competences") Informations complémentaires
                            
                        each creneau in creneaux
                            li(class="nav-item")
                                a(class="nav-link" data-toggle="tab" href="#creneau"+ creneau.id +"")= creneau.debut_date_txt
                        

                div(class="card-body")
                    div(class="tab-content")
                        div(class="tab-pane fade show active" id="competences" role="tabpanel")
                            h4 Description de la mission :
                            p(class="ml-3")= mission.description

                            unless domaines.length === 0
                                h4 Domaine d'intervention
                                each dom in domaines
                                    p(class="ml-3")= dom.nom
                        
                        
                        each cre in creneaux
                            div(class="tab-pane fade" id="creneau"+ cre.id +"" role="tabpanel")
                                table(class="candidats" class="table table-bordered table-hover" cellspacing="0")
                                    thead
                                        tr
                                            th(scope="col") Nom
                                            th(scope="col") Prénom
                                            th(scope="col") Mail
                                            th(scope="col") Candidature
                                    tbody
                                        each candidat in candidats
                                            if (candidat.creneau.id == cre.id)
                                                tr
                                                    td= candidat.postulant.nom
                                                    td= candidat.postulant.prenom
                                                    td
                                                        a(href=`mailto:${candidat.postulant.login}`)= candidat.postulant.login
                                                    td
                                                        if candidat.status
                                                            | Accepté
                                                        else
                                                            a(href="/asso/acceptPostulation/"+ candidat.postulant.login +"/"+ candidat.creneau.id +"/" +  mission.id class="btn btn-success btn-sm mr-2") Acceper
                                                            a(href="/asso/refusPostulation/"+ candidat.postulant.login +"/"+ candidat.creneau.id +"/" +  mission.id class="btn btn-danger btn-sm") Refuser         

append js
    script(src="/static/js/edit-Mission.js")
