extends base

append css
    //TOUT CE QUI CONCERNE LE PROFIL ASSO route : asso/profil
    link(rel="stylesheet" href="/static/scss/profil.css")

block content
    include parts/modifAsso
    include parts/modifAssoPresentation
    //bootstrap
    header(class="row")
        div(class="col")
            img(class="img-fluid" src="/static/images/profil.png")
            h1(class="text-white")= asso.nom

    section(class="row")
        //bootstrap
        aside(class="col-3")
            div(class="card mb-3")
                div(class="card-header")
                    div(class="row")
                        div(class="col")
                            p(class="mb-0") Contacts
                        div(class="card-toolbar col-auto")
                            button(type="button" class="btn btn-primary btn-sm right" data-toggle="modal" data-target="#modifAsso") 
                                i(class="fas fa-user-edit")

                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        i(class="fas fa-at fa-fw mr-3")
                        a(href=`mailto:${asso.mail}`)= `${asso.mail}`

                    li(class="list-group-item")
                        i(class="fas fa-address-card fa-fw mr-3")
                        =asso.adresse

                    li(class="list-group-item")
                        i(class="fas fa-phone fa-fw mr-3")
                        =asso.tel

                    li(class="list-group-item")
                        i(class="fas fa-laptop fa-fw mr-3")
                        a(href="http://"+asso.siteWeb)= `${asso.siteWeb}`
                        
                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        i(class="fas fa-scroll fa-fw mr-3")
                        = `SIRET : ${asso.siret}`
                            

        article(class="col")
            div(class="card")
                div(class="card-body")
                    div(class="tab-content")
                        button(type="button" class="btn btn-primary btn-sm right" data-toggle="modal" data-target="#modifAssoPresentation") 
                            i(class="fas fa-pen")
                                
                        div(class="row")
                            h2 Présentation

                        p= asso.presentation
