extends base

append css
    //TOUT CE QUI CONCERNE LE PROFIL ASSO route : asso/profil
    link(rel="stylesheet" href="/static/scss/profil.css")
    


block content
    //bootstrap
    header(class="row")
        div(class="col")
            img(class="img-fluid" src="/static/images/profil.png")
            h1(class="text-white")= session.asso.nom

    section(class="row")
        //bootstrap
        aside(class="col-3")
            div(class="card mb-3 card-infos")
                div(class="card-header")
                    p(class="mb-0") Contacts
                    a(href="#" class="btn btn-primary btn-sm right") Modifier Profil

                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        span
                            a(href="mailto:" + mail)= "Email : " + mail

                    li(class="list-group-item")
                        span= "Adresse : " + adresse

                    li(class="list-group-item")
                        span= "Telephone : " + tel

                    li(class="list-group-item")
                        span
                            a(href="http://www."+siteWeb)= "Site internet : " + siteWeb
                        
                ul(class="list-group list-group-flush")
                        li(class="list-group-item")
                            span= "Siret : " + siret
                            

        article(class="col")
            div(class="card")
                div(class="card-body")
                    div(class="tab-content")
                        div(class="row")
                            h2 Présentation
                            a(href="#")
                                i(class="fas fa-plus")
                        p= presentation
                        
