extends base

append css
    // FullCalendar
    link(rel="stylesheet" href="/vendor/@fullcalendar/core/main.min.css")
    link(rel="stylesheet" href="/vendor/@fullcalendar/daygrid/main.min.css")
    link(rel="stylesheet" href="/vendor/@fullcalendar/bootstrap/main.min.css")

    //TOUT CE QUI CONCERNE LE PROFIL DU BENEVOLE route : user/
    link(rel="stylesheet" href="/static/scss/profil.css")
    //lien avec le css

append jslib
    script(src="/vendor/@fullcalendar/core/main.min.js")
    script(src="/vendor/@fullcalendar/core/locales/fr.js")
    script(src="/vendor/@fullcalendar/daygrid/main.min.js")
    script(src="/vendor/@fullcalendar/bootstrap/main.min.js")
    script(src="/vendor/@fullcalendar/interaction/main.min.js")

block content
    include parts/modifCitoyen
    include parts/supprCitoyen
    include parts/add-creneau
    include parts/add-competences

    div(id="doc-dialog" class="modal fade" tabindex="-1" role="dialog")
        div(class="modal-dialog" role="document")
            form(class="modal-content" novalidate)
                div(class="modal-header")
                    h5(class="modal-title") Modifier le document

                    button(class="close" type="button" data-dismiss="modal")
                        i(class="fas fa-times")

                div(class="modal-body")
                    div(class="form-group")
                        label Titre
                        input(id="rename-field" class="form-control" name="titre" placeholder="Titre" required)

                div(class="modal-footer")
                    button(class="btn btn-secondary" type="button" data-dismiss="modal") Annuler
                    button(class="btn btn-primary" type="submit") Modifier

    //bootstrap
    header(class="row")
        div(class="col")
            img(class="img-fluid" src="/static/images/profil.png")
            h1(class="text-white")= `${user.nom} ${user.prenom}`

    section(class="row")
        //bootstrap
        aside(class="col-3")
            div(class="card mb-3")   
                div(class="card-header")
                    div(class="row")
                        div(class="col")
                            p(class="mb-0") Informations personnelles
                            
                        div(class="card-toolbar col-auto")
                            div(class="btn-group")
                                button(type="button" class="btn btn-primary btn-sm right" data-toggle="modal" data-target="#modifCitoyen")
                                    i(class="fas fa-user-edit")

                                button(type="button" class="btn btn-danger btn-sm right" data-toggle="modal" data-target="#supprCitoyen")
                                    i(class="fas fa-user-slash")

                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        i(class="fas fa-at fa-fw mr-3")
                        a(href=`mailto:${user.login}`)= user.login

                    li(class="list-group-item")
                        i(class="fas fa-address-card fa-fw mr-3")
                        = user.adresse

                    li(class="list-group-item")
                        i(class="fas fa-phone fa-fw mr-3")
                        = user.tel

                    li(class="list-group-item")
                        i(class="fas fa-briefcase fa-fw mr-3")
                        = user.situation_txt

                    li(class="list-group-item")
                        i(class="fas fa-car fa-fw mr-3")
                        = user.permis ? "Permis B" : "Sans le permis"

            div(class="card mb-3")
                div(class="card-header")
                    p(class="mb-0") Liens

                div(class="card-body")
                    a(href="/user/candidatures") Mes Candidatures

        article(class="col")
            div(class="card")
                //bootstrap
                div(class="card-header")
                    ul(class="nav nav-tabs card-header-tabs" role="tablist")
                        li(class="nav-item")
                            a(class="nav-link active" data-toggle="tab" href="#infoComplementaires") Informations Complémentaires

                        li(class="nav-item")
                            a(class="nav-link" data-toggle="tab" href="#documents") Documents

                        li(class="nav-item")
                            a(id="tab-dispo" class="nav-link" data-toggle="tab" href="#dispo") Disponibilités

                div(class="card-body")
                    div(class="tab-content")
                        div(class="tab-pane fade show active" id="infoComplementaires" role="tabpanel")
                            div(class="col")
                                h4 Competances
                                    button(type="button" class="btn btn-primary btn-sm right" data-toggle="modal" data-target="#ajoutComp")
                                        i(class="far fa-lightbulb")
                                unless competances.length === 0  
                                    each sf in competances
                                        p= sf.nom + " : " + sf.description


                        div(id="documents" class="tab-pane fade" role="tabpanel")
                            div(class="container-fluid px-0")
                                div(class="row")
                                    div(class="col-xs-12 col-md-8")
                                        table(id="doc-table" class="table table-bordered table-hover mb-0")
                                            thead(class="thead-light")
                                                tr
                                                    th(scope="col") Titre
                                                    th(class="action-col" scope="col") Actions

                                            tbody
                                                tr(class="must-be-only")
                                                    td(class="text-center" colspan="2") Aucun documents

                                                each doc in documents
                                                    tr(data-id=doc.id)
                                                        td
                                                            a(class="doc-title" href=doc.fichier)= doc.titre

                                                        td(class="text-center action-col")
                                                            div(class="btn-group btn-group-sm")
                                                                a(class="btn btn-secondary doc-dl" href=doc.fichier download=doc.filename)
                                                                    i(class="fas fa-file-download fa-fw")

                                                                button(class="btn btn-primary btn-rename-doc")
                                                                    i(class="fas fa-pen fa-fw")

                                                                button(class="btn btn-danger btn-delete-doc")
                                                                    i(class="fas fa-trash fa-fw")

                                    div(class="col-xs-12 col-md-4")
                                        h5(class="mb-3") Nouveau document :

                                        form(id="doc-form" class="needs-validation" novalidate
                                             enctype="multipart/form-data" method="post" action="/user/documents/add")
                                            div(class="form-group")
                                                input(id="titre-field" class="form-control" name="titre" type="text" placeholder="Titre" required)

                                            div(class="form-group")
                                                div(class="custom-file")
                                                    input(id="file-field" class="custom-file-input"
                                                          name="file" type="file" placeholder="Fichier" required)

                                                    label(for="file-field" class="custom-file-label placeholder") Fichier

                                            button(class="btn btn-primary btn-block" type="submit")
                                                i(class="fas fa-file-upload mr-2")
                                                | Envoyer

                        div(class="tab-pane fade" id="dispo" role="tabpanel")
                            div(id="calendar")

append js
    script(src="/static/js/profil-benevole.js")
