extends base

append css
    link(rel="stylesheet" href="/vendor/pg-calendar/dist/css/pignose.calendar.min.css")
    
    //TOUT CE QUI CONCERNE LE PROFIL DU BENEVOLE route : user/
    link(rel="stylesheet" href="/static/scss/profil.css")
    //lien avec le css

append jslib
    script(src="/vendor/moment/moment.js")
    script(src="/vendor/pg-calendar/dist/js/pignose.calendar.js")

block content
    include parts/disponibilite-popup 
    include parts/modifCitoyen
    include parts/supprCitoyen

    //bootstrap
    header(class="row")
        div(class="col")
            img(class="img-fluid" src="/static/images/profil.png")
            p(class="text-white")= `${user.nom} ${user.prenom}`

    section(class="row")
        //bootstrap
        aside(class="col-3")
            div(class="card mb-3")   
                div(class="card-header")
                    div(class="row")
                        div(class="col")
                            p(class="mb-0") Informations personnelles
                            
                        div(class="card-toolbar col-auto")
                            button(type="button" class="btn btn-primary btn-sm right" data-toggle="modal" data-target="#modifCitoyen")
                                i(class="fas fa-user-edit")
                            button(type="button" class="btn btn-danger btn-sm right" data-toggle="modal" data-target="#supprCitoyen")
                                i(class="fas fa-user-slash")

                ul(class="list-group list-group-flush")
                    li(class="list-group-item")
                        span 
                            a(href=`mailto:${user.login}`)= `Email : ${user.login}`

                    li(class="list-group-item")
                        span= `Adresse : ${user.adresse}`

                    li(class="list-group-item")
                        span= `Téléphone : ${user.tel}`

                    li(class="list-group-item")
                        if(user.situation === "1")
                            span= `Situation : Salarié`
                        else if(user.situation === "2")
                            span= `Situation : Etudiant`
                        else if(user.situation === "3")
                            span= `Situation : Chômage`
                        else if(user.situation === "4")
                            span= `Situation : Libéral`
                        else if(user.situation === "5")
                            span= `Situation : Fonctionnaire`
                        else if(user.situation === "6")
                            span= `Situation : Volontariat`
                        else if(user.situation === "7")
                            span= `Situation : Indépendant`
                        else if(user.situation === "8")
                            span= `Situation : Autre`
                            

                    li(class="list-group-item")
                        span= user.permis ? "Permis B" : "Sans le permis"

            div(class="card mb-3")
                div(class="card-header")
                    p(class="mb-0") Liens

                div(class="card-body")
                    a(href="/user/candidatures") Mes Candidatures

        article(class="col")
            div(class="card")
                //bootstrap
                div(class="card-header")
                    ul(class="nav nav-tabs card-header-tabs" role="tablist")
                        li(class="nav-item")
                            a(class="nav-link active" data-toggle="tab" href="#infoComplementaires") Informations Complémentaires

                        li(class="nav-item")
                            a(class="nav-link" data-toggle="tab" href="#dispo") Disponibilités

                div(class="card-body")
                    div(class="tab-content")
                        div(class="tab-pane fade show active" id="infoComplementaires" role="tabpanel") 
                        
                            a(href="#" class="btn btn-primary btn-sm right") 
                                i(class="fas fa-plus")
                        
                            unless documents.length === 0
                                div(class="row")
                                    h4 Documents
                                each doc in documents
                                    a(href=doc.lien)= doc.titre
                            
                            unless domaineintervention.length === 0
                                div(class="row")
                                    h4 Domaines d'intervention
                                each dom in domaineintervention
                                    p= dom.nom
                                    
                            unless competances.length === 0
                                div(class="row")
                                    h4 Savoir-Faire   
                                each sf in competances
                                    p= sf.nom + " : " + sf.description
                                                      
                        div(class="tab-pane fade" id="dispo" role="tabpanel") 
                            button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#disponibilitePopup")
                                i(class="fas fa-plus-circle")  Ajouter Disponibilité
                                
                            table(class="table table-bordered mt-4")
                                thead
                                    tr
                                        th(scope="col") 
                                        th(scope="col") Lundi
                                        th(scope="col") Mardi
                                        th(scope="col") Mercredi
                                        th(scope="col") Jeudi
                                        th(scope="col") Vendredi
                                        th(scope="col") Samedi
                                        th(scope="col") Dimanche
                                tbody
                                    tr
                                        td
                                            span Matin
                                        td
                                            a(href='#' title="Rendre Indisponible") Disponible
                                                i(class="far fa-check-circle")
                                        td
                                            a(href='#') ...
                                        td
                                            a(href='#') Matin
                                        td
                                            a(href='#') Matin
                                        td
                                            a(href='#') Matin
                                        td
                                            a(href='#') Matin
                                        td
                                            a(href='#') Matin
                                    tr
                                        td
                                            span Après-midi
                                        td
                                            a(href='#') Après-midi
                                        td
                                            a(href='#') Après-midi
                                        td
                                            a(href='#') Après-midi
                                        td
                                            a(href='#') Après-midi
                                        td
                                            a(href='#') Après-midi
                                        td
                                            a(href='#') Après-midi
                                        td
                                            a(href='#') Après-midi
                                    tr
                                        td
                                            span Soirée
                                        td
                                            a(href='#') Soirée
                                        td
                                            a(href='#') Soirée
                                        td
                                            a(href='#') Soirée
                                        td
                                            a(href='#') Soirée
                                        td
                                            a(href='#') Soirée
                                        td
                                            a(href='#') Soirée
                                        td
                                            a(href='#') Soirée
