
//Card d'une Mission - vision Citoyen - Où il a déjà postulé : morceau candidature que l'on retrouve dans profil citoyen

div(class="card m-3")
    div(class="card-header")
        div(class="row")
            div(class="col")
                h5(class="mb-0")= `${mission.mission.titre}, ${mission.mission.lieu}`
                small(class="font-italic")
                    a(href="/profilAsso/" + mission.mission.association.pk)= mission.asso.nom
            
            div(class="card-toolbar col-auto")
                button(type="button" class="btn btn-danger btn-sm"
                         data-toggle="modal" data-target="#suppPostu"
                         data-id="" + mission.creneau.id)
                    i(class="fas fa-times")
        
    div(class="card-body")
        p(class="card-text")= mission.mission.description
            
    block footer
        div(class="card-footer")
            div(class="m-0")
                small(class="font-italic")=  mission.status?  "Accepté" : "En Attente de traitement"
                div(class="float-right")
                    small(class="font-italic")=  mission.creneau.debut_txt
    
//mission.status?  class="border border-info card m-3" : class="border border-success card-footer"
